Repository LMMS/lmms, pull requests merged in 2019-02, with the labels that each got.

#4800 Display properly on a HiDPI screen
  cmake/linux/lmms.desktop
  src/core/main.cpp
  src/gui/GuiApplication.cpp
Labels: bug, compatibility, gui

#4818 Move QT_X11_NO_NATIVE_MENUBAR to code
  cmake/linux/lmms.desktop
  src/core/main.cpp
Labels: compatibility, gui

#4851 Add needed macOS shortcuts
  src/gui/editors/AutomationEditor.cpp
  src/gui/editors/PianoRoll.cpp
  src/gui/editors/SongEditor.cpp
Labels: compatibility, gui, macos
