Repository LMMS/lmms, pull requests merged in 2023-10, with the labels that each got.

#6779 Solve the HiDPI issues of the setup dialog (#2510)
  data/themes/default/style.css
  include/AudioDeviceSetupWidget.h
  include/MidiSetupWidget.h
  include/SetupDialog.h
  include/TabBar.h
  src/core/audio/AudioJack.cpp
  src/core/audio/AudioOss.cpp
  src/core/audio/AudioPortAudio.cpp
  src/core/audio/AudioPulseAudio.cpp
  src/core/audio/AudioSdl.cpp
  src/core/audio/AudioSndio.cpp
  src/core/audio/AudioSoundIo.cpp
  src/gui/AudioAlsaSetupWidget.cpp
  src/gui/AudioDeviceSetupWidget.cpp
  src/gui/MidiSetupWidget.cpp
  src/gui/modals/SetupDialog.cpp
  src/gui/widgets/TabBar.cpp
Labels: gui

#6918 Fix loading samples unsupported by libsndfile
  src/core/SampleBuffer.cpp
Labels: needs testing

#2068 First version of a new dynamic LADSPA control dialog
  data/themes/classic/style.css
  data/themes/default/style.css
  include/BarModelEditor.h
  include/FloatModelEditorBase.h
  include/Knob.h
  include/LadspaControl.h
  include/LedCheckBox.h
  include/TempoSyncBarModelEditor.h
  include/TempoSyncKnobModel.h
  plugins/LadspaEffect/CMakeLists.txt
  plugins/LadspaEffect/LadspaControls.h
  plugins/LadspaEffect/LadspaMatrixControlDialog.cpp
  plugins/LadspaEffect/LadspaMatrixControlDialog.h
  plugins/LadspaEffect/LadspaWidgetFactory.cpp
  plugins/LadspaEffect/LadspaWidgetFactory.h
  src/gui/CMakeLists.txt
  src/gui/widgets/BarModelEditor.cpp
  src/gui/widgets/FloatModelEditorBase.cpp
  src/gui/widgets/Knob.cpp
  src/gui/widgets/LedCheckBox.cpp
  src/gui/widgets/TempoSyncBarModelEditor.cpp
Labels: gui, needs style review, needs code review, needs testing

#6952 Fix CLI render crash
  src/tracks/InstrumentTrack.cpp
Labels: bug, core

#6878 Push policy stack in InstallDependencies module
  cmake/modules/InstallDependencies.cmake
Labels: cmake

#6868 Improve CI cache usage
  .github/workflows/build.yml
  .gitignore
  Brewfile
  CMakeLists.txt
  cmake/modules/CompileCache.cmake
  vcpkg.json
Labels: CI
