Repository LMMS/lmms, pull requests merged in 2023-11, with the labels that each got.

#6908 Fix instrument release fade-out
  src/core/AudioEngine.cpp
  src/core/Instrument.cpp
Labels: bug, core

#6842 Expose targets and versions for more dependencies
  CMakeLists.txt
  cmake/modules/BuildPlugin.cmake
  cmake/modules/FindFluidSynth.cmake
  cmake/modules/FindLame.cmake
  cmake/modules/FindOggVorbis.cmake
  cmake/modules/FindPortaudio.cmake
  cmake/modules/FindSTK.cmake
  cmake/modules/FindSamplerate.cmake
  cmake/modules/FindSndFile.cmake
  cmake/modules/ImportedTargetHelpers.cmake
  plugins/CMakeLists.txt
  plugins/GigPlayer/CMakeLists.txt
  plugins/Sf2Player/CMakeLists.txt
  plugins/Watsyn/CMakeLists.txt
  src/CMakeLists.txt
Labels: cmake

#6962 Improve search performance in `FileBrowser`
  include/FileBrowser.h
  src/gui/FileBrowser.cpp
  src/gui/MainWindow.cpp
Labels: performance
